@import '~styles/colors';

.block {
  background-color: $main-color;
  color: #fff;
  font-weight: 500;
  padding: 5px 0;
}

.wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.text {
  align-items: center;
  display: flex;
  font-size: 18px;

  svg {
    margin-right: 15px;
    vertical-align: top;
    width: 50px;
  }
}
