@import '~styles/colors.scss';

.header {
  padding-bottom: 5px;
  padding-top: 25px;

  .upperPart {
    display: flex;
    justify-content: space-between;

    .logo {
      width: 250px;
    }

    .deliveryInfo {
      font-size: 18px;
      margin-left: 65px;

      .orange {
        color: $main-color;
      }
    }
    .phone {
      font-size: 18px;
      margin-left: 65px;
    }
    .desc {
      color: $grayColor;
      font-size: 14px;
    }

    .loginCont {
      button {
        margin-left: 10px;
      }
    }
  }
}

.lowerPart {
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 100;
  // border-bottom: ${props => (props.scroll ? `1px solid ${props.theme.lightgrayColor}` : 'none')};
  // padding-bottom: ${props => (props.scroll ? '0px' : '1px')};

  .wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  }

  nav {
    ul {
      margin: 0;
      padding: 0;
      transition: transform 0.15s ease-out;
      // transform: translateX(${props => (props.scroll ? '0px' : '-52px')});

      li {
        display: inline-block;
        margin-right: 16px;
        vertical-align: middle;

        &:last-of-type {
          margin-right: 0;
        }

        a {
          color: #272727;
          display: block;
          font-size: 14px;
          padding: 1em 0;
          text-decoration: none;
          transition: color 0.15s ease-out;

          &:hover,
          &.active {
            color: $main-color;
          }
        }

        &.logoMini {
          margin-top: -4px;

          a {
            line-height: 0;
            padding: 0;
            width: 36px;
          }
        }
      }
    }
  }

  .cart {
    align-items: center;
    display: flex;
    padding: 10px 0;

    .info {
      font-size: 14px;
      margin-right: 30px;

      .price {
        font-weight: 500;
      }

      .items {
        color: $grayColor;
      }
    }
  }
}
