@import '~styles/colors';

.container {
  margin: 32px 0 48px;
  text-align: center;

  input {
    border: 1px solid #aaa;
    border-radius: 15px 0 0 15px;
    border-right: none;
    box-shadow: none;
    padding: 6px 15px;
  }
}

.button {
  border-color: $main-color;
  border-radius: 0 15px 15px 0;
  color: $main-color;
  padding: 4px 10px;
}
