body {
    font: 16px/24px 'Roboto', sans-serif;
    color: #373535;
    line-height: 1.4;
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
    height: auto;
    display: block;
}
* {
    outline: 0;
    box-sizing: border-box;
}
.wrapper {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}
.flex {
    display: flex;
}

input, textarea, select, button {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 48px;
    font-weight: 400;
}
h2 {
    font-size: 36px;
    font-weight: 400;
}
h3 {
    font-size: 28px;
}
